*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

html, body{
    height: 100%;
}

header{
    background-color: #5E81AC;
    color: #ECEFF4;
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px;
    padding-right: 0;
    padding-left: 0;
}

header h1{
    padding-top: 5px;
    margin-bottom: 10px;
}

a:link {
    color: #E5E9F0;
}

body{
    background: rgb(185,217,235);
    background: -moz-linear-gradient(90deg, rgba(185,217,235,1) 0%, rgba(114,160,193,1) 50%, rgba(185,217,235,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(185,217,235,1) 0%, rgba(114,160,193,1) 50%, rgba(185,217,235,1) 100%);
    background: linear-gradient(90deg, rgba(185,217,235,1) 0%, rgba(114,160,193,1) 50%, rgba(185,217,235,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b9d9eb",endColorstr="#b9d9eb",GradientType=1);
    width: 100%;
}

.split_container{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}

.grid_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
}

.agencija_kartica{
    text-align: center;
    padding: 3% 3% 3% 3%;
    max-height: 500px;
}

.agencija_kartica img{
    display: block;
    margin: 0 auto;
    max-height: 30%;
    padding-bottom: 20px;
}

.agencija_kartica blockquote{
    font-size: 1vw;
    padding-top: 20px;
}

.agencija_kartica a{
    font-size: 1.5vw;
}

.prikaz{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10vh;
    padding-top: 10vh;
}

.prikaz_horizontalno{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 5vh;
}

.prikaz_horizontalno div{
    padding: 0.5vh 0.5vh;
    padding-left:  minmax(1vh, 5vh);
    padding-right:  minmax(1vh, 5vh);
    margin-bottom: 10vh;
}

.prikaz_horizontalno img{
    width: 30%;
    max-width: 40vh;
    height: auto;
    padding: minmax(1vh, 30%);
}

.prikaz h1{
    padding-left:  minmax(1vh, 5vh);
}

.prikaz div{
    padding: 0.5vh 0.5vh;
    padding-left:  minmax(1vh, 5vh);
    padding-right:  5vh;

}

.prikaz img{
    width: 30%;
    max-width: 30vh;
    height: auto;
    padding: minmax(1vh, 5vh);
}

.split_container .prikaz{
    flex: 0 1 50%;
    max-width: 45%;
    border-left: 1px solid #5E81AC;
    border-right: 1px solid #5E81AC;

}

form label{
    padding: 5vh;
}

.main_div{
    background-color: #72a0c1;
    color: #ECEFF4;
    justify-content: space-around;
    width: 66%;
    margin: 0 auto;
    height: 100%
}